:root {
  /* basic configuration */
  --base-angle: 180deg;
  --circle-radius: 50%;
  --main-bg-color: #252525;
  --rotation-angle: -108deg;

  /* main flag configuration */
  --crescent-size-on-flag: 3;
  --flag-height: 36;
  --flag-triangle-offset: 0.142;
  --flag-width: 54;
  --moon-size-on-flag: 13.25;
  --triangle-height-on-flag: 1.1353;
  --triangle-width-on-flag: 3.28;
  --moon-left-space-on-flag: 4.78;
  --moon-top-bottom-space-on-flag: 2.375;

  /* flag size in pixels (Provide any size you wish the rest will be calculated) */
  --flag-width-in-pixels: 540px;

  /* auto configuration */
  --flag-height-in-pixels: calc(
    var(--flag-width-in-pixels) * var(--flag-height) / var(--flag-width)
  );
  --moon-size: calc(
    var(--flag-width-in-pixels) * var(--moon-size-on-flag) / var(--flag-width)
  );
  --crescent-size: calc(
    var(--flag-width-in-pixels) * var(--crescent-size-on-flag) /
      var(--flag-width)
  );
  --triangle-width: calc(
    var(--flag-width-in-pixels) * var(--triangle-width-on-flag) /
      var(--flag-width)
  );
  --triangle-height: calc(
    var(--flag-width-in-pixels) * var(--triangle-height-on-flag) /
      var(--flag-width)
  );
  --moon-left-space: calc(
    var(--flag-width-in-pixels) * var(--moon-left-space-on-flag) /
      var(--flag-width)
  );
  --moon-surrounding: calc(
    var(--flag-width-in-pixels) * var(--moon-top-bottom-space-on-flag) /
      var(--flag-width)
  );
  --crescent-effect: calc(-1 * var(--crescent-size)) 0px 0 0 #fff;
  --left-space: calc(var(--crescent-size) + var(--moon-left-space));
  --main-triangle: var(--triangle-height) solid #fff;
  --remove-triangle: calc(var(--triangle-width) / 2) solid transparent;
  --rotate-left: calc(var(--base-angle) + var(--rotation-angle));
  --rotate-right: calc(var(--base-angle) - var(--rotation-angle));

  /* Calibration */
  --fix-top-offset: calc(
    var(--flag-width-in-pixels) * var(--flag-triangle-offset) /
      var(--flag-width)
  );
  --fix-left-offset: calc(var(--fix-top-offset) / 2);
}

.flags {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: var(--flag-height-in-pixels);
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1000px;
  width: var(--flag-width-in-pixels);
}

.singapore {
  background: linear-gradient(to bottom, #C73b3C 50%, #FFF 50%);
}

html {
  background-color: var(--main-bg-color);
}

.stars {
  position: relative;
}

.star {
  border-left: var(--remove-triangle);
  border-right: var(--remove-triangle);
  border-top: var(--main-triangle);
  display: inline-block;
  height: 0;
  left: 0;
  position: relative;
  top: 0;
  width: 0;
}

.star::before {
  border-left: var(--remove-triangle);
  border-right: var(--remove-triangle);
  border-top: var(--main-triangle);
  box-sizing: border-box;
  content: "";
  display: inline-block;
  height: 0;
  left: calc(-1 * var(--triangle-width) / 2 - var(--fix-left-offset));
  position: absolute;
  top: calc(-1 * var(--triangle-height));
  transform: rotate(var(--rotate-left));
  width: 0;
}

.star::after {
  border-left: var(--remove-triangle);
  border-right: var(--remove-triangle);
  border-top: var(--main-triangle);
  box-sizing: border-box;
  content: "";
  display: inline-block;
  height: 0;
  left: calc(-1 * var(--triangle-width) / 2);
  position: absolute;
  top: calc(-2 * var(--triangle-height) + 8 * var(--fix-top-offset));
  transform: rotate(var(--rotate-right));
  width: 0;
}

.crescent {
  background-color: transparent;
  border-radius: var(--circle-radius);
  box-shadow: var(--crescent-effect);
  display: inline-block;
  height: var(--moon-size);
  left: var(--left-space);
  position: relative;
  top: var(--moon-surrounding);
  width: var(--moon-size);
}
